.andoaincup .cancha { color: #000000!important; font-size: 120%; font-style: italic; background-color: #EAFC17; padding: 5px 10px; text-align: center!important;}
.andoaincup .grupo { color: #000000!important; font-size: 120%; font-weight: bold; }
.andoaincup .enlace { color: #000000!important; font-size: 90%; }
.andoaincup table.partidos,
.andoaincup table.clasificacion,
.andoaincup table.equipos { color: #000000!important; }
.andoaincup .color-grupo-A { background-color: #deebf7; }
.andoaincup .color-grupo-B  { background-color: #fff2cc; }
.andoaincup .color-grupo-C  { background-color: #2e75b6; }
.andoaincup .color-grupo-D  { background-color: #c5e0b4; }
.andoaincup .color-grupo-F1 { background-color: #5b9bd5; }
.andoaincup .color-grupo-F2 { background-color: #78f797; }
.andoaincup .color-grupo-F3 { background-color: #ffff00; }
.andoaincup .color-grupo-F4 { background-color: #ffc000; }
.andoaincup .color-grupo-QF { background-color: #C572FF; }
.andoaincup .color-grupo-SF { background-color: #759EFC; }
.andoaincup .color-grupo-FI { background-color: #00BEB7; }
.andoaincup .ganador { font-weight: bold; }
.andoaincup table.partidos td:nth-child(1) { width: 10%; padding: 2px;}
.andoaincup table.partidos td:nth-child(1) div:nth-child(1) { width: 40px; text-align: right; float: left; }
.andoaincup table.partidos td:nth-child(1) div:nth-child(2) { text-align: right; padding-top: 18px; font-size: 80%; }
.andoaincup table.partidos td:nth-child(2) { width: 35%; text-align: right; }
.andoaincup table.partidos td:nth-child(3) { width:  5%; text-align: right; }
.andoaincup table.partidos td:nth-child(4) { width: 1%; text-align: center; padding-left: 0px; padding-right: 0px; }
.andoaincup table.partidos td:nth-child(5) { width:  5%; text-align: right; }
.andoaincup table.partidos td:nth-child(6) { width: 35%; }
.andoaincup table.clasificacion td:nth-child(1) { width: 10%; background-color: rgba(255, 255, 255, 1); font-weight: bold; text-align: right; }
.andoaincup table.clasificacion td:nth-child(2) { width: 48%; }
.andoaincup table.clasificacion td:nth-child(3) { width: 8%; background-color: rgba(255, 255, 255, .7); }
.andoaincup table.clasificacion td:nth-child(4) { width: 8%; background-color: rgba(255, 255, 255, .7); font-weight: bold; }
.andoaincup table.clasificacion td:nth-child(5) { width: 8%; background-color: rgba(255, 255, 255, .7); }
.andoaincup table.clasificacion td:nth-child(6) { width: 8%; background-color: rgba(255, 255, 255, .7); }
.andoaincup table.clasificacion td:nth-child(7) { width: 8%; background-color: rgba(255, 255, 255, .7); }

.andoaincup .taldea-container { display: grid; grid-template-columns: 70px 1fr; grid-template-rows: auto auto; }
.andoaincup .taldea-escudo { border: 1px solid #dedede;  background-color: #FFFFFF !important;
    grid-row: 1 / 3; grid-column: 1; 
    width: 70px; height: 70px; align-items: center; border-radius: 100%; justify-content: center; 
    display: flex; flex: 1 0 auto;}
.andoaincup .taldea-escudo img { width: 48px; height: 48px ;}
.andoaincup .taldea-izena { 
    grid-column: 2; padding-left: 15px;align-self: end; }
.andoaincup .taldea-herria { 
    grid-column: 2; padding-left: 15px; align-self: start; text-align: right; color: #666; }

.andoaincup .barra .part {
    border-radius: 20px;
    padding: 5px;
}
.andoaincup .barra .selected-part {
    font-weight: bold;
    background-color: darkblue;
    color: #FFFFFF;
    text-align: center;
}
.andoaincup .barra .unselected-part {
    color: darkblue;
    text-align: center;
    border: 2px solid darkblue;
}
.andoaincup .barra .unselected-part a {
    text-decoration: none;
}
.andoaincup .barra .unselected-part a:hover {
    font-weight: bold;
}
